.CatBreeds___container {
  height: 80vh;
  width: 15%;
  overflow-y: scroll;
  color: white;
  float: right;
  box-shadow: -5px 5px #a80000;
}

.CatBreeds__breed {
  line-height: 2;
  border-bottom: 1px solid white;
  background-color: black;
  padding-left: 10px;
}

.CatBreeds__breed:hover {
  background-color: rgba(0, 0, 0, 0.769);
  font-size: 2vh;
}

.CatBreeds___container a {
  text-decoration: none;
  color: white;
}

.test {
  height: 500px;
  width: 500px;
  background-color: green;
}
