* {
  font-family: "Roboto", sans-serif;
}

.card__feed {
  max-height: 100%;
  width: 620px;
  display: grid;
  margin: 0 auto;
}
.card__background {
  background-color: #fafafa;
}
/* .card {
  margin: 40px;
} */

.card__container-image {
  border-radius: 5px 5px 0 0;
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.card__container {
  max-width: 600px;
  max-height: 760px;
  border-radius: 5px;
  border: 1px solid black;
  /* overflow-y: scroll; */
  margin-top: 20px;
}

.card__container-username {
  font-weight: 900;
}

.card__container-caption {
  padding: 15px 10px;
  font-size: 1.8vh;
}

.card__container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  align-items: center;
}

.card__container-like {
  height: 60px;
  width: 60px;
  align-items: center;
}

.card-likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.card__container-more {
  background-color: black;
  color: white;
  font-size: 2vh;
  padding: 5px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 414px) {
  .card__feed {
    max-height: 100%;
    width: 400px;
  }
  .card__container-image {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 375px) {
  .card__feed {
    width: 360px;
  }
  .card__container-image {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (max-width: 360px) {
  .card__feed {
    max-height: 100%;
    width: 340px;
  }
  .card__container-image {
    width: 340px;
    height: 340px;
  }
}

@media only screen and (max-width: 321px) {
  .card__feed {
    width: 310px;
  }
  .card__container-image {
    width: 310px;
    height: 310px;
  }
}
